<h1>
  <%= t('helpers.title.list', models: ResqueSchedule.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= button_to t('helpers.button.setup_all'), setup_all_resque_schedules_path,
              class: 'btn btn-info', role: :button, method: :put,
              data: {disable_with: t('helpers.notice.processing')} %>
<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th><%= ResqueSchedule.human_attribute_name :name %></th>
    <th><%= ResqueSchedule.human_attribute_name :enabled %></th>
  </tr>
  </thead>

  <tbody>
  <% @resque_schedules.each do |resque_schedule| %>
    <tr>
      <td><%= link_to resque_schedule.name, resque_schedule %></td>
      <td><%= resque_schedule.enabled %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<h3>
  Actual Resque Schedules
  <%= image_tag('/images/loading.gif', class: 'loading hide') %>
</h3>
<pre>
  <code id="resque-schedules">
  </code>
</pre>

<script>
  $(document).on('turbolinks:load', (function () {
    resque_schedules.load_schedules();
  }));
</script>
