<% content_for(:html_title) { @resque_schedule.name } %>
<h1>
  <%= t('helpers.title.show', model: ResqueSchedule.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= render partial: 'partials/action' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :cron %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.cron %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :class_name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.class_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :queue %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.queue %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :description %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.description %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= ResqueSchedule.human_attribute_name :enabled %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @resque_schedule.enabled %>
    </div>
  </div>
</div>
