<% title = t('helpers.title.list', models: CandleInformation.model_name.human.pluralize(I18n.locale)) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<table class='table table-bordered table-hover table-striped'>
  <caption><%= t('text.candle_information.count') %></caption>

  <tbody>
  <tr>
    <th class="w-40"><%= CandleInformation.human_attribute_name :usd_jpy_m1_count %></th>
    <td><%= @candle_information.usd_jpy_m1_count.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th><%= CandleInformation.human_attribute_name :eur_jpy_m1_count %></th>
    <td><%= @candle_information.eur_jpy_m1_count.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th><%= CandleInformation.human_attribute_name :gbp_jpy_m1_count %></th>
    <td><%= @candle_information.gbp_jpy_m1_count.to_s(:delimited) %></td>
  </tr>
  </tbody>
</table>

<table class='table table-bordered table-hover table-striped'>
  <caption><%= t('text.candle_information.latest_time') %></caption>

  <tbody>
  <tr>
    <th class="w-40"><%= CandleInformation.human_attribute_name :usd_jpy_m1_latest %></th>
    <td><%= candle_latest_time @candle_information.usd_jpy_m1_latest %></td>
  </tr>
  <tr>
    <th><%= CandleInformation.human_attribute_name :eur_jpy_m1_latest %></th>
    <td><%= candle_latest_time @candle_information.eur_jpy_m1_latest %></td>
  </tr>
  <tr>
    <th><%= CandleInformation.human_attribute_name :gbp_jpy_m1_latest %></th>
    <td><%= candle_latest_time @candle_information.gbp_jpy_m1_latest %></td>
  </tr>
  </tbody>
</table>
